html {
  top: 5%;
  left: 27%;
  right: auto;
  display: block;
  position: absolute;
}
h1,
h2 {
  padding: 5%;
  text-align: center;
}

table {
  padding: 5%;
  text-align: center;
  table-layout: auto;
  width: 100%;
  border-collapse: collapse;
}

td {
  letter-spacing: 1px;
  padding: 0% 2%;
  text-align: center;
}

.form-control {
  background-color: white;
  border: none;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.87);
  word-wrap: break-word;
  display: flex;
  flex: 100%;
  font-size: 16px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-color: rgba(223, 225, 229, 0);
  box-shadow: 0 2px 8px 1px rgb(64 60 67 / 24%);
  margin-top: -20px;
  padding: 1%;
}

.container {
  width: 600px;
  box-align: center;
  align-items: center;
  border-radius: 1px;
  margin: 20px 20px;
  padding: 15px 60px;
  background-color: #fafafb;
}
.forecast-today {
  font-size: xx-large;
}

.forecast-tomorrow {
  font-size: x-large;
}

.temperatur-tomorrow {
  text-align: right;
  font-size: xx-large;
}
